@font-face {
	font-family: "font";
	src: url('../../annexe/almendra/Almendra-Regular.otf');
}
@font-face {
	font-family: "font1";
	src: url('../../annexe/almendra/Almendra-Bold.otf');
}
@font-face {
	font-family: "font2";
	src: url('../../annexe/source-code-pro/SourceCodePro-Regular.otf');
}
body{
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(45deg, rgba(110, 155, 170, 0.5) 0%, rgba(110, 155, 170, 0.5) 25%,rgba(146, 183, 162, 0.5) 25%, rgba(146, 183, 162, 0.5) 50%,rgba(181, 211, 154, 0.5) 50%, rgba(181, 211, 154, 0.5) 75%,rgba(217, 239, 146, 0.5) 75%, rgba(217, 239, 146, 0.5) 100%),linear-gradient(135deg, rgb(30, 212, 152) 0%, rgb(30, 212, 152) 25%,rgb(62, 225, 150) 25%, rgb(62, 225, 150) 50%,rgb(93, 239, 148) 50%, rgb(93, 239, 148) 75%,rgb(125, 252, 146) 75%, rgb(125, 252, 146) 100%);
    height: 100%;
    font-family: "font";
    margin-bottom: 100px;
}


.boite{
    max-width: 1000px;
    margin: 80px auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 30px;
    height: 100%;
    padding-bottom: 60px;
    box-shadow: 4px 4px 20px black;
    -moz-box-shadow:4px 4px 20px black;
    -webkit-box-shadow:4px 4px 20px black;
    background-image: radial-gradient(circle at 82% 60%, rgba(59, 59, 59,0.06) 0%, rgba(59, 59, 59,0.06) 69%,transparent 69%, transparent 100%),radial-gradient(circle at 36% 0%, rgba(185, 185, 185,0.06) 0%, rgba(185, 185, 185,0.06) 59%,transparent 59%, transparent 100%),radial-gradient(circle at 58% 82%, rgba(183, 183, 183,0.06) 0%, rgba(183, 183, 183,0.06) 17%,transparent 17%, transparent 100%),radial-gradient(circle at 71% 32%, rgba(19, 19, 19,0.06) 0%, rgba(19, 19, 19,0.06) 40%,transparent 40%, transparent 100%),radial-gradient(circle at 77% 5%, rgba(31, 31, 31,0.06) 0%, rgba(31, 31, 31,0.06) 52%,transparent 52%, transparent 100%),radial-gradient(circle at 96% 80%, rgba(11, 11, 11,0.06) 0%, rgba(11, 11, 11,0.06) 73%,transparent 73%, transparent 100%),radial-gradient(circle at 91% 59%, rgba(252, 252, 252,0.06) 0%, rgba(252, 252, 252,0.06) 44%,transparent 44%, transparent 100%),radial-gradient(circle at 52% 82%, rgba(223, 223, 223,0.06) 0%, rgba(223, 223, 223,0.06) 87%,transparent 87%, transparent 100%),radial-gradient(circle at 84% 89%, rgba(160, 160, 160,0.06) 0%, rgba(160, 160, 160,0.06) 57%,transparent 57%, transparent 100%),linear-gradient(90deg, rgb(30,212,152),rgb(166, 255, 237));
    
}


.avant{
    z-index: 50;
    position: absolute;
    left: 50%;
    max-width: 1000px;
    margin: 80px auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 30px;
    height: 2000px;
    padding-bottom: 100px;
    box-shadow: 4px 4px 20px black;
    -moz-box-shadow:4px 4px 20px black;
    -webkit-box-shadow:4px 4px 20px black;
    background-image: radial-gradient(circle at 82% 60%, rgba(59, 59, 59,0.06) 0%, rgba(59, 59, 59,0.06) 69%,transparent 69%, transparent 100%),radial-gradient(circle at 36% 0%, rgba(185, 185, 185,0.06) 0%, rgba(185, 185, 185,0.06) 59%,transparent 59%, transparent 100%),radial-gradient(circle at 58% 82%, rgba(183, 183, 183,0.06) 0%, rgba(183, 183, 183,0.06) 17%,transparent 17%, transparent 100%),radial-gradient(circle at 71% 32%, rgba(19, 19, 19,0.06) 0%, rgba(19, 19, 19,0.06) 40%,transparent 40%, transparent 100%),radial-gradient(circle at 77% 5%, rgba(31, 31, 31,0.06) 0%, rgba(31, 31, 31,0.06) 52%,transparent 52%, transparent 100%),radial-gradient(circle at 96% 80%, rgba(11, 11, 11,0.06) 0%, rgba(11, 11, 11,0.06) 73%,transparent 73%, transparent 100%),radial-gradient(circle at 91% 59%, rgba(252, 252, 252,0.06) 0%, rgba(252, 252, 252,0.06) 44%,transparent 44%, transparent 100%),radial-gradient(circle at 52% 82%, rgba(223, 223, 223,0.06) 0%, rgba(223, 223, 223,0.06) 87%,transparent 87%, transparent 100%),radial-gradient(circle at 84% 89%, rgba(160, 160, 160,0.06) 0%, rgba(160, 160, 160,0.06) 57%,transparent 57%, transparent 100%),linear-gradient(90deg, rgb(30,212,152),rgb(166, 255, 237));
    
}




/* Boring button styles */
a.button {
  /* Frame */
  display: inline-block;
  padding: 20px 28px;
  border-radius: 50px;
  box-sizing: border-box;
  
  /* Style */
  border: none;
  background: var(--button-background);
  color: var(--button-color);
  font-size: 24px;
  cursor: pointer;
}

a.button:active {
  filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
  position: relative;
  padding: 0;
  margin-right: 1em;
  
  border: none;
}

.dropdown summary {
  list-style: none;
  list-style-type: none;
}

.dropdown > summary::-webkit-details-marker {
  display: none;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown summary:focus a.button {
  border: 2px solid white;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown ul {
  position: absolute;
  margin: 20px 0 0 0;
  padding: 20px 0;
  width: var(--dropdown-width);
  left: 50%;
  margin-left: calc((var(--dropdown-width) / 2)  * -1);
  box-sizing: border-box;
  z-index: 2;
  
  background: var(--dropdown-background);
  border-radius: 6px;
  list-style: none;
}

.dropdown ul li {
  padding: 0;
  margin: 0;
}

.dropdown ul li a:link, .dropdown ul li a:visited {
  display: inline-block;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  
  color: var(--dropdown-color);
  text-decoration: none;
}

.dropdown ul li a:hover {
  background-color: var(--dropdown-highlight);
  color: var(--dropdown-background);
}

/* Dropdown triangle */
.dropdown ul::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--dropdown-background) transparent;
}


/* Close the dropdown with outside clicks */
.dropdown > summary::before {
  display: none;
}

.dropdown[open] > summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

/* contenu du site */
.a{
    text-decoration: none;
    color: black;
}
.a:hover{
    color: red;
}

.box1{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recherche{
    z-index: 1;
}
/* choix de la langue */
.logo{
    display: flex;
    flex-direction: row;
}
.logopad{
    padding-top: 10px;
}
.entete{
    padding-left: 10px;
    font-size: 40px;
    margin-top: 5px;
    font-family: "font2";
    
    
}
#dep{
    border-top: rgba(255,255,255,0.8) 1px solid;
    border-top-left-radius: 10px;
    padding-left: 20px;
}
#info{
    border-bottom: rgba(255,255,255,0.8) 1px solid;
    border-bottom-right-radius: 10px;
    padding-right: 15px;
}


.changement{
    border: rgba(255,255,255,0.8) 1px solid;
    display: flex;
    height: 40px;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.text3{
    letter-spacing: 1px;
    padding-top: 9px;
    padding-right: 5px;
}
#im1{
    padding-top: 4px;
}
#im2{
    padding-top: 5px;
}
/* search box */
.x{
    margin-top: 25px;
}
#wrap {
    display: inline-block;
    position: relative;
    height: 10px;
    padding-bottom: 50px;
    padding-left: 230px;
}
  
  input[type="text"] {
    height: 60px;
    font-size: 20px;
    display: inline-block;
    font-family: "font";
    font-weight: 100;
    border: none;
    outline: none;
    color: #555;
    padding-left: 5px;
    padding-right: 30px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
  }
  
  input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
  }
  
  input[type="text"]:focus {
    width: 200px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
  }

  input[type="button"] {
    height: 60px;
    width: 50px;
    display: inline-block;
    color:red;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    cursor: pointer;
    transition: opacity .4s ease;
  }
  
  input[type="submit"]:hover {
    opacity: 0.8;
  }

/* banniere */


.banniere{
    margin-left: -20px;
    margin-right: -20px;
    height: 150px;
    background-image: url(../../annexe/img/ban1.jpg);
    background-size: 1000px;
    background-position-x: center;
    z-index: 5;
}
.top, .bottom{
    margin-left: -20px;
    margin-right: -20px;
    background-color:#044883 ;
    height: 10px;
}
.bottom{
    margin-bottom: 20px;
}
/*formulaire*/
.formulaire{
    border:rgba(255,255,255,0.8) 1px solid ;
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    
}

/* foooter */ 
footer{
    letter-spacing: 1px;
    border-top: rgba(255,255,255,0.8) 1px solid;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    
    
    
}

.f1{
    border:rgba(255,255,255,0.8) 1px solid ;
    background-color: rgba(255,255,255,0.5);
    padding-left: 20px;
    margin-left: 50px;
    padding-right: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    
}

.f2{
    flex:1 1 auto;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-left: 20px;
}
.f3{
    color:#044883;
    text-decoration: none;
    padding: 5px;
    border:rgba(255,255,255,0.8) 1px solid ;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.5);
}
.f3:hover{
    color: red;
    
}


/* menu */

.nav, .menu {
    display: flex;
    flex-direction: column;
}

.nav {
    margin-left: 1.3%;
    position: absolute;
    background-image: radial-gradient(circle at 82% 60%, rgba(59, 59, 59,0.06) 0%, rgba(59, 59, 59,0.06) 69%,transparent 69%, transparent 100%),radial-gradient(circle at 36% 0%, rgba(185, 185, 185,0.06) 0%, rgba(185, 185, 185,0.06) 59%,transparent 59%, transparent 100%),radial-gradient(circle at 58% 82%, rgba(183, 183, 183,0.06) 0%, rgba(183, 183, 183,0.06) 17%,transparent 17%, transparent 100%),radial-gradient(circle at 71% 32%, rgba(19, 19, 19,0.06) 0%, rgba(19, 19, 19,0.06) 40%,transparent 40%, transparent 100%),radial-gradient(circle at 77% 5%, rgba(31, 31, 31,0.06) 0%, rgba(31, 31, 31,0.06) 52%,transparent 52%, transparent 100%),radial-gradient(circle at 96% 80%, rgba(11, 11, 11,0.06) 0%, rgba(11, 11, 11,0.06) 73%,transparent 73%, transparent 100%),radial-gradient(circle at 91% 59%, rgba(252, 252, 252,0.06) 0%, rgba(252, 252, 252,0.06) 44%,transparent 44%, transparent 100%),radial-gradient(circle at 52% 82%, rgba(223, 223, 223,0.06) 0%, rgba(223, 223, 223,0.06) 87%,transparent 87%, transparent 100%),radial-gradient(circle at 84% 89%, rgba(160, 160, 160,0.06) 0%, rgba(160, 160, 160,0.06) 57%,transparent 57%, transparent 100%),linear-gradient(90deg, rgb(166,255,237),rgb(30,212,152));
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    height: 0px;
}

.nav input:checked ~ .menu {
    width: 100px;
    height: 405px;
}

.menu li {
    padding-bottom: 8px;
    text-align: center;
    list-style: none;
    
}

.menu li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #E71D73;
}

.nav input {
    width: 100px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    top: 30px;
    left: 55px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    top: 30px;
    left: 55px;
    background-color: #E71D73;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

/* texte et news */
.box2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 1px;
}

.menu2{ 
    padding: 5px;
    flex: 0.3;
}

.texte{
    flex: 1;
    text-align: center;
    padding: 5px;
    padding-bottom: 50px;
    min-height: 500px;
}
.news{
    flex: 0.3;
    padding: 10px;
}
.bold{
    color: #044883;
    font-weight: bold;
    font-family: font1;
}

.contenu2{
    color: #044883;
    opacity: 0.7;
    margin-left: 20px;
}
.banniere2, .banniere1{
    background-color: #044883;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 15px;

}
.banniere2{
    margin-top: -4px;
    padding-left: 8px;
}

.logo2{
    position: relative;
    top: 770px;

}
.click{
    display: inline-block;
    position: absolute;
    padding-left: 5px;
    visibility: visible;
}
.langue{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.langue1{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
/* we are sorry*/
.rond{
    height: 400px;
    border-radius: 30000px;
    background-color: white;
    
}

.rond1{
    padding-top: 60px;
}
/* animation */
.circles{
    z-index: -1;
    position: absolute;
    top: -50px;
    left: 0;
    width: 97%;
    
    height: 1400px;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    top: -200px;
    
}

.circles li:nth-child(1){
    left: 10%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(11){
    left: 90%;
    width: 80px;
    height: 80px;
    animation-delay: 1s;
}


.circles li:nth-child(2){
    left: 5%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(12){
    left: 95%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 45%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(13){
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 5s;
}

.circles li:nth-child(4){
    left: 20%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(14){
    left: 65%;
    width: 60px;
    height: 60px;
    animation-delay: 1s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 25%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(15){
    left: 85%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
}

.circles li:nth-child(6){
    left: 50%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(16){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 4s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(17){
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 8s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(18){
    left: 55%;
    width: 25px;
    height: 25px;
    animation-delay: 16s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(19){
    left: 65%;
    width: 15px;
    height: 15px;
    animation-delay: 3s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(20){
    left: 10%;
    width: 150px;
    height: 150px;
    animation-delay: 1s;
    animation-duration: 15s;
}



@keyframes animate {

    0%{
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(1500px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}